# Question1

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.neighbors import(NeighborhoodComponentsAnalysis,KNeighborsClassifier)
from sklearn.datasets import load_iris
from sklearn.model_selection import train_test_split
from sklearn.pipeline import Pipeline
from sklearn.metrics import accuracy_score

In [2]:
X={'Outlook':[0,0,1,2,2,2,1,0,0,2],
      'Temperature':[0,0,0,1,2,2,2,1,2,1],
      'Humidity':[1,1,1,1,0,0,0,1,0,0] ,
      'Wind':[0,1,0,0,0,1,1,0,0,0] ,
     }
Y={'PlayTennis':[0,0,1,1,1,0,1,0,1,1]}
Xx=pd.DataFrame(X)
Yy=pd.DataFrame(Y)

In [3]:
X_train=Xx[['Outlook','Temperature','Humidity', 'Wind']]
Y_train=Yy['PlayTennis']
X_train

   Outlook  Temperature  Humidity  Wind
0        0            0         1     0
1        0            0         1     1
2        1            0         1     0
3        2            1         1     0
4        2            2         0     0
5        2            2         0     1
6        1            2         0     1
7        0            1         1     0
8        0            2         0     0
9        2            1         0     0

In [4]:
knn = KNeighborsClassifier(n_neighbors=3)

In [5]:
knn.fit(X_train, Y_train)

KNeighborsClassifier(n_neighbors=3)

In [6]:
test_x={'Outlook':[0,1,1,2],'Temperature':[1,1,0,1],'Humidity':[0,1,0,1],'Wind':[1,1,0,1]}
test_y={'PlayTennis':[1,1,1,0]}

In [7]:
Xx=pd.DataFrame(test_x)
Yy=pd.DataFrame(test_y)

In [8]:
y_predict=knn.predict(Xx)
print("Predict : ",y_predict)

Predict :  [0 1 1 1]

In [9]:
Accuracy1=accuracy_score(Yy,y_predict)
Accuracy1

0.5

# Question 2

In [10]:
csv_data=pd.read_csv("cancer.csv")

In [11]:
csv_data['Diagnosis']=csv_data['Diagnosis'].map({'B':0,'M':1})

Y=csv_data['Diagnosis']
Y=pd.DataFrame(Y)

In [12]:
X=csv_data

In [13]:
X=X.drop('Diagnosis',axis=1)
X=X.drop('Id',axis=1)

In [14]:
X

,Radius (mean),Texture (mean),Perimeter (mean),Area (mean),Smoothness (mean),Compactness (mean),Concavity (mean),Concave points (mean),Symmetry (mean),Fractal dimension (mean),...,Radius (worst),Texture (worst),Perimeter (worst),Area (worst),Smoothness (worst),Compactness (worst),Concavity (worst),Concave points (worst),Symmetry (worst),Fractal dimension (worst)
0,13.540,14.36,87.46,566.3,0.09779,0.08129,0.06664,0.047810,0.1885,0.05766,...,15.110,19.26,99.70,711.2,0.14400,0.17730,0.23900,0.12880,0.2977,0.07259
1,13.080,15.71,85.63,520.0,0.10750,0.12700,0.04568,0.031100,0.1967,0.06811,...,14.500,20.49,96.09,630.5,0.13120,0.27760,0.18900,0.07283,0.3184,0.08183
2,9.504,12.44,60.34,273.9,0.10240,0.06492,0.02956,0.020760,0.1815,0.06905,...,10.230,15.66,65.13,314.9,0.13240,0.11480,0.08867,0.06227,0.2450,0.07773
3,13.030,18.42,82.61,523.8,0.08983,0.03766,0.02562,0.029230,0.1467,0.05863,...,13.300,22.81,84.46,545.9,0.09701,0.04619,0.04833,0.05013,0.1987,0.06169
4,8.196,16.84,51.71,201.9,0.08600,0.05943,0.01588,0.005917,0.1769,0.06503,...,8.964,21.96,57.26,242.2,0.12970,0.13570,0.06880,0.02564,0.3105,0.07409
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
564,20.920,25.09,143.00,1347.0,0.10990,0.22360,0.31740,0.147400,0.2149,0.06879,...,24.290,29.41,179.10,1819.0,0.14070,0.41860,0.65990,0.25420,0.2929,0.09873
565,21.560,22.39,142.00,1479.0,0.11100,0.11590,0.24390,0.138900,0.1726,0.05623,...,25.450,26.40,166.10,2027.0,0.14100,0.21130,0.41070,0.22160,0.2060,0.07115
566,20.130,28.25,131.20,1261.0,0.09780,0.10340,0.14400,0.097910,0.1752,0.05533,...,23.690,38.25,155.00,1731.0,0.11660,0.19220,0.32150,0.16280,0.2572,0.06637
567,16.600,28.08,108.30,858.1,0.08455,0.10230,0.09251,0.053020,0.1590,0.05648,...,18.980,34.12,126.70,1124.0,0.11390,0.30940,0.34030,0.14180,0.2218,0.07820
568,20.600,29.33,140.10,1265.0,0.11780,0.27700,0.35140,0.152000,0.2397,0.07016,...,25.740,39.42,184.60,1821.0,0.16500,0.86810,0.93870,0.26500,0.4087,0.12400

In [15]:
X_array=np.array(X)
X_array

array([[1.354e+01, 1.436e+01, 8.746e+01, ..., 1.288e-01, 2.977e-01,
        7.259e-02],
       [1.308e+01, 1.571e+01, 8.563e+01, ..., 7.283e-02, 3.184e-01,
        8.183e-02],
       [9.504e+00, 1.244e+01, 6.034e+01, ..., 6.227e-02, 2.450e-01,
        7.773e-02],
       ...,
       [2.013e+01, 2.825e+01, 1.312e+02, ..., 1.628e-01, 2.572e-01,
        6.637e-02],
       [1.660e+01, 2.808e+01, 1.083e+02, ..., 1.418e-01, 2.218e-01,
        7.820e-02],
       [2.060e+01, 2.933e+01, 1.401e+02, ..., 2.650e-01, 4.087e-01,
        1.240e-01]])

In [16]:

Y

     Diagnosis
0            0
1            0
2            0
3            0
4            0
..         ...
564          1
565          1
566          1
567          1
568          1

[569 rows x 1 columns]

In [17]:
Y_array=np.array(Y)

In [18]:
X_train, X_test, y_train, y_test = train_test_split(X_array, Y_array,stratify=Y, test_size=0.2, random_state=42)

In [19]:
nca = NeighborhoodComponentsAnalysis(random_state=42)

In [20]:
nca.fit(X_train, y_train)
knn = KNeighborsClassifier(n_neighbors=3)
knn.fit(X_train, y_train)

C:\Users\PC\anaconda3\Lib\site-packages\sklearn\utils\validation.py:1184: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\PC\anaconda3\Lib\site-packages\sklearn\neighbors\_classification.py:228: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return self._fit(X, y)

KNeighborsClassifier(n_neighbors=3)

In [21]:
y_predict=knn.predict(X_test)
print("Predict : ",y_predict)

Predict :  [0 1 0 0 0 0 0 0 0 0 0 0 1 0 0 0 1 0 0 0 0 0 1 1 0 0 0 1 1 1 1 0 1 1 0 0 0
 0 1 0 0 0 0 0 0 1 0 1 0 0 1 1 0 0 0 1 0 0 0 1 0 0 0 0 0 0 1 1 0 1 0 1 1 0
 0 0 0 1 0 1 0 1 0 0 0 0 1 0 1 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 1 0 0
 0 1 1]

In [22]:
Accuracy1=accuracy_score(y_test,y_predict)
print("Accuracy : ",Accuracy1)

Accuracy :  0.9210526315789473

# Question 3

In [23]:
csv_data=pd.read_csv("Income.csv")

In [24]:
csv_data

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,Salary/Income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
32557,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32558,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32559,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
32560,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

In [25]:
X=csv_data

In [26]:
csv_data['workclass'] = csv_data['workclass'].str.strip()
csv_data['workclass'] = csv_data['workclass'].map({
    'State-gov': 0,
    'Self-emp-not-inc': 1,
    'Private': 2,
    'Self-emp-inc': 3,
    'Federal-gov': 4,
    'Local-gov': 5,
    'Without-pay': 6,
    'Never-worked': 7
}).fillna(-1)  # Fill any unmapped values with -1

In [27]:
csv_data['marital-status'] = csv_data['marital-status'].str.strip()
csv_data['marital-status'] = csv_data['marital-status'].map({
    'Never-married': 0,
    'Married-civ-spouse': 1,
    'Divorced': 2,
    'Married-spouse-absent': 3,
    'Separated': 4,
    'Married-AF-spouse': 5,
    'Widowed': 6
}).fillna(-1)  # Fill any unmapped values with -1

In [28]:
csv_data['occupation'] = csv_data['occupation'].str.strip()
csv_data['occupation'].replace('?', 'Unknown', inplace=True)
csv_data['occupation'] = csv_data['occupation'].map({
    'Adm-clerical': 0,
    'Exec-managerial': 1,
    'Handlers-cleaners': 2,
    'Prof-specialty': 3,
    'Other-service': 4,
    'Sales': 5,
    'Craft-repair': 6,
    'Transport-moving': 7,
    'Farming-fishing': 8,
    'Machine-op-inspct': 9,
    'Tech-support': 10,
    'Unknown': -1,  # Assign -1 for unknown values
    'Protective-serv': 11,
    'Armed-Forces': 12,
    'Priv-house-serv': 13
})

In [29]:
csv_data['relationship'] = csv_data['relationship'].str.strip()
csv_data['relationship'] = csv_data['relationship'].map({
    'Not-in-family': 0,
    'Husband': 1,
    'Wife': 2,
    'Own-child': 3,
    'Unmarried': 4,
    'Other-relative': 5
}).fillna(-1)  # Fill any unmapped values with -1

In [30]:
csv_data['race'] = csv_data['race'].str.strip()
csv_data['race'] = csv_data['race'].map({
    'White': 0,
    'Black': 1,
    'Asian-Pac-Islander': 2,
    'Amer-Indian-Eskimo': 3,
    'Other': 4
}).fillna(-1)  # Fill any unmapped values with -1

In [31]:
csv_data['sex'] = csv_data['sex'].str.strip()
csv_data['sex'] = csv_data['sex'].map({
    'Male': 0,
    'Female': 1
}).fillna(-1)  # Fill any unmapped values with -1

In [32]:
csv_data['native-country'] = csv_data['native-country'].str.strip()
csv_data['native-country'].replace('?', 'Unknown', inplace=True)
csv_data['native-country'] = csv_data['native-country'].map({
    'United-States': 0,
    'Cuba': 1,
    'Jamaica': 2,
    'India': 3,
    'Mexico': 4,
    'South': 5,
    'Puerto-Rico': 6,
    'Honduras': 7,
    'England': 8,
    'Canada': 9,
    'Germany': 10,
    'Iran': 11,
    'Philippines': 12,
    'Italy': 13,
    'Poland': 14,
    'Columbia': 15,
    'Cambodia': 16,
    'Thailand': 17,
    'Ecuador': 18,
    'Laos': 19,
    'Taiwan': 20,
    'Haiti': 21,
    'Portugal': 22,
    'Dominican-Republic': 23,
    'El-Salvador': 24,
    'France': 25,
    'Guatemala': 26,
    'China': 27,
    'Japan': 28,
    'Yugoslavia': 29,
    'Peru': 30,
    'Outlying-US(Guam-USVI-etc)': 31,
    'Scotland': 32,
    'Trinidad&Tobago': 33,
    'Greece': 34,
    'Nicaragua': 35,
    'Vietnam': 36,
    'Hong': 37,
    'Ireland': 38,
    'Hungary': 39,
    'Holand-Netherlands': 40,
    'Unknown': -1  # Handle unknown or missing countries
})

In [33]:
csv_data['Salary/Income'] = csv_data['Salary/Income'].str.strip()
csv_data['Salary/Income'] = csv_data['Salary/Income'].map({
    '<=50K': 0,
    '>50K': 1
}).fillna(-1)  # In case there are any other unexpected values

In [34]:
csv_data = csv_data.drop(['fnlwgt', 'education'], axis=1)

In [35]:

Y=csv_data['Salary/Income']
Y=pd.DataFrame(Y)

X=csv_data.drop('Salary/Income',axis=1)

X

,age,workclass,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country
0,39,0.0,13,0,0,0,0,0,2174,0,40,0.0
1,50,1.0,13,1,1,1,0,0,0,0,13,0.0
2,38,2.0,9,2,2,0,0,0,0,0,40,0.0
3,53,2.0,7,1,2,1,1,0,0,0,40,0.0
4,28,2.0,13,1,3,2,1,1,0,0,40,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...
32556,27,2.0,12,1,10,2,0,1,0,0,38,0.0
32557,40,2.0,9,1,9,1,0,0,0,0,40,0.0
32558,58,2.0,9,6,0,4,0,1,0,0,40,0.0
32559,22,2.0,9,0,0,3,0,0,0,0,20,0.0
32560,52,3.0,9,1,1,2,0,1,15024,0,40,0.0

In [36]:
Y

       Salary/Income
0                  0
1                  0
2                  0
3                  0
4                  0
...              ...
32556              0
32557              1
32558              0
32559              0
32560              1

[32561 rows x 1 columns]

In [37]:
X_array=np.array(X)
Y_array=np.array(Y)

In [38]:
# X_train, X_test, y_train, y_test = train_test_split(X_array, Y_array, stratify=Y, test_size=0.2, random_state=42)

# # # Impute missing values using the mean strategy
# # # imputer = SimpleImputer(strategy='mean')
# # # X_train_imputed = imputer.fit_transform(X_train)
# # # X_test_imputed = imputer.transform(X_test)

# # # Fit NCA on the imputed training data
# # nca = NeighborhoodComponentsAnalysis(random_state=42)
# # nca.fit(X_train_imputed, y_train)

# # # Train KNN classifier
# # knn = KNeighborsClassifier(n_neighbors=3)
# # knn.fit(X_train_imputed, y_train)

# # # Make predictions
# nca.fit(X_train, y_train)
# knn = KNeighborsClassifier(n_neighbors=3)
# knn.fit(X_train, y_train)

In [ ]:
# y_predict = knn.predict(X_test_imputed)
# # print(y_predict)

In [ ]:
# Accuracy1 = accuracy_score(y_test, y_predict)
# print("Accuracy:", Accuracy1)

In [ ]:

X_train, X_test, y_train, y_test = train_test_split(X_array, Y_array, stratify=Y, test_size=0.2, random_state=42)

X_train = np.nan_to_num(X_train, nan=0)  # Replace NaN with 0
X_test = np.nan_to_num(X_test, nan=0)

y_train = y_train.ravel()
y_test = y_test.ravel()

nca = NeighborhoodComponentsAnalysis(random_state=42)
nca.fit(X_train, y_train)

knn = KNeighborsClassifier(n_neighbors=3)
knn.fit(X_train, y_train)

y_predict = knn.predict(X_test)

print("Predict:", y_predict)

Accuracy1 = accuracy_score(y_test, y_predict)
print("Accuracy:", Accuracy1)